<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Leonardo Tumadjian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Books Online - <%=titulo%></title>
</head>
<body>
<!-- ========= FIM HEADER ============= -->
    <!-- ======= MENU DO PROJETO ======== -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="imgs/logo.png" width="180" height="" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/cadastro">Cadastre-se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carrinho">Carrinho de compras</a>
                </li>
                <li class="nav-item">
                    <li class="nav-item">
                        <%
                        arr= [1,5,6,7,8,9,10]
                        n= parseInt(Math.random()*arr.length) %>
                        <a class="nav-link" href="/single-produto?id=%<%arr[n]%>"> Surpresa </a>
                    </li>
            </ul>
            <div class="navbar-text">
                Books Online
            </div>
        </div>
    </nav>
  <h2 class="alert alert-info">Atualizar Promoções</h2>
  <form action="./atualiza-promo" method="GET">
    <div>
      <label for="promo">Adicionar a lista de promoções?</label>
      <input type="radio" class="form-control col-lg-9" value="1" id="promo_sim" name="promo"> Sim
      <input type="radio" class="form-control col-lg-9" value="0" id="promo_nao" name="promo"> Não
    </div>
    <div class="form-group">
      <label for="livro">Livro</label>
      <select name="id">
        <% galeria.forEach((item)=>{ %>
        <option><%=item.titulo%></option>
        <%})%>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Confirmar</button>
  </form>
      <!-- =============== Conteúdo ================== -->
      <div class="container mt-5 pt-5">
        <header>
            <h1>Books Online
                <small>Market Place de Livros </small> </h1>
            <h3 class="font-weight-bold"><%=promo%></h3>
            <% if(promo) { %>
            <p>Compre agora o novo livro <b><%=livro[0].titulo%></b></p> 
                <% } %>
           
        </header>
        <div>
            <h5>Confira outros títulos</h5>
            <ul>
            <% livro.forEach((item,n)=>{ 
                if (n>0){
            %>
                <li><%=n%> - <%=item.titulo%> -  <%=item.genero%> - <%=item.nome%> </li>
            <% }
        }) %>
            </ul>
        </div>
</body>
</html>